<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKqF3JJ-TxMibntRz9651qPxcETPDcU0o</string>
	<key>GCM_SENDER_ID</key>
	<string>280642195368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.herahealthie</string>
	<key>PROJECT_ID</key>
	<string>herahealth-cdd6b</string>
	<key>STORAGE_BUCKET</key>
	<string>herahealth-cdd6b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280642195368:ios:2594e79e1445595957979d</string>
</dict>
</plist>